@import "tailwindcss";

@theme {
    --color-susydarkpurple: #7651dc;
    --color-susylightpurple: #dcd1fc;
    --color-susyyellow: #ffcd69;
    --color-susylightbrown: #faeee2;
    
}
body {
    /* background-color: #f0f0f0; */
    margin: auto;
    background-color: gainsboro;
}